{%extends "base.html"%}
{%load static%}
{%block title%}Customer List{%endblock%}
{%block content%}
  <div class="row content-wrapper">
    <div class="columns large-12">
      <div class="row">
        <!-- <div class="columns large-4 content sidebar">
          <h1 class="page-title services">Why Choose us</h1>
          <ul>
            <li class="bullet"><a href="#">Purus magnis augue adipiscing mid magna</a></li>
            <li class="bullet"><a href="#">Amet dignissim natoque, dignissim lacus</a></li>
            <li class="bullet"><a href="#">Purus magnis augue adipiscing mid magna</a></li>
            <li class="bullet"><a href="#">Amet dignissim natoque, dignissim lacus</a></li>
            <li class="bullet"><a href="#">Purus magnis augue adipiscing mid magna</a></li>
            <li class="bullet"><a href="#">Amet dignissim natoque, dignissim lacus</a></li>
            <li class="bullet"><a href="#">Purus magnis augue adipiscing mid magna</a></li>
            <li class="bullet"><a href="#">Amet dignissim natoque, dignissim lacus</a></li>
            <li class="bullet"><a href="#">Purus magnis augue adipiscing mid magna</a></li>
            <li class="bullet"><a href="#">Amet dignissim natoque, dignissim lacus</a></li>
            <li class="bullet"><a href="#">Purus magnis augue adipiscing mid magna</a></li>
            <li class="bullet"><a href="#">Amet dignissim natoque, dignissim lacus</a></li>
          </ul>
        </div> -->
        <div class="columns large-20">
          <h1 class="page-title">All Customers</h1>
          {% for c in all_customers%}
          <div class="row">
            <div class="columns large-15">
              <div class="service-box-page">
                <h4>{{c.first_name}} {{c.last_name}}</h4>
                <p>Current Balance :{{c.current_balance}}</p>
                <span><p>Account Number :<b>{{c.id}}</b></p></span>
                <span ><a href="/view_customer/{{c.user_email}}/">|View Customer|</a>
              <a href="/make_transaction_filled/{{c.user_email}}/">|Make a Transaction|</a></span>
              </div>
            </div>
            <!-- <div class="columns large-6">
              <div class="service-box-page">
                <p></p>
                <h4></h4>
                <p></p> 
              </div>
            </div> -->
          </div>
          {%endfor%}
          
        </div>
      </div>
    </div>
  </div>
  {%endblock%}
  <!----------------------->
  