{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
<head>
<title>{%block title%}{%endblock%}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
<link rel="stylesheet" href="{% static 'css/superfish.css' %}">
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,300|Droid+Serif:400,300' rel='stylesheet' type='text/css'>
<script src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
<script>
Modernizr.load({
    // test if browser understands media queries
    test: Modernizr.mq('only all'),
    // if not load ie8-grid
    nope: 'css/ie8-grid-foundation-4.css'
});
</script>
<!--[if lt IE 9]>
<link rel="stylesheet" href="css/ie-fixes.css">
<![endif]-->
</head>
<body>
<div class="wrapper">
  <div class="header">
    <div class="row">
      <div class="columns large-12  header-inner"> <a href="#"><img src="{% static 'images/logo.jpg' %}" alt="" width="150px" height="90px" class="logo"></a> </div>
      <div class="columns large-12">
        <nav>
          <section>
            <ul class="sf-menu large-12">
              <li class="active"><a href="/view_all_customers/">View All Customers</a></li>
              <li><a href="/view_your_account_details_page/">View Account Details</a></li>
              <li><a href="/view_transactions_page/">View Transactions</a></li>
              
            </ul>
          </section>
        </nav>
      </div>
    </div>
    
  </div>

  {%block content%}
  {%endblock%}

  
  <div class="credit-row">
    <div class="row">
      <div class="columns large-11 credit" style="color:white">&copy;  <a href="mailto:manshitamathur@gmail.com">| manshitamathur@gmail.com |</a> Created by: <a href="https://www.linkedin.com/in/manshita-mathur-07bb291a1/" target="blank">Manshita Mathur</a></div>
      <div class="columns large-1"><img src="{% static 'images/toparrow.png' %}" alt="" class="scrollToTop"></div>
    </div>
  </div>
</div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<script>
Modernizr.load({
    test: Modernizr.placeholder,
    nope: "{% static 'js/placeholder.min.js' %}"
});

function goToNewPage() {
    if (document.getElementById('target').value) {
        window.location.href = document.getElementById('target').value;
    }
}
</script>
<script>
$(document).ready(function () {
    $('ul.sf-menu').superfish({
        animation: {
            height: 'show'
        },
        delay: 400
    });
    $("img.scrollToTop").click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    });
});
</script>
</body>
</html>