{%extends "base.html"%}
{%block content%}
  <div class="row content-wrapper">
    <div class="columns large-12">
      <div class="row">
        <div class="columns large-8 content">
          
          <ul class="row">
            <li class="columns large-4">
              
              
              <!-- <h3 class="employer-name">Rebecca Traver</h3>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat porro voluptatem</p>
    
        -->
        <h1 
            View Transactions<br/>
            {{ first_name }} {{ last_name }}</h1>
          
    {% if flag == 0 %}
    {% for i in tx %}
      {% if i.tx_from.id == account_no %}

            
      
            <p>Transfer ID: <b>{{ i.id }}</b></p>
            
          <p>To: <b>{{ i.transfer_to.first_name }} {{ i.transfer_to.last_name }}</b></p>
          <p>Account No.: <b>{{ i.tx_to.id }}</b></p>
          
          <p>Amount : <b><span>&#8377;</span>{{ i.amount }}</b></p>
          </li>
          
          {%else%}
               <div style="margin-left:2% ;">
                <p><b>Transfer ID:</b> {{ i.id }}</p>
              <p><b>From:</b> {{ i.transfer_from.first_name }} {{ i.transfer_from.last_name }}</p>
              <p><b>Account No.:</b> {{ i.transfer_from.id }}</p>
              
              <p><b>Amount : </b><span>&#8377;</span>{{ i.amount }}</p>
            </p>
        </div>
          </div>
        </li>
        <hr/>
          {% endif %}
          {% endfor %}
          
    
       
          {% endif %}





      <!-- <h2>{{ first_name }} {{ last_name }}</p></h2>
      <p>Email:<b> {{ user_email }}</b></p>
      <p>Account No.: <b>{{ account_no }}</b></p>
      <p>Current Balance: <b><span>&#8377;</span>{{ current_balance }}</b></p> -->
      
     


          
          <div class="row">
            <li class="columns large-4">
             
              <form id="contact-form" method="post" action="mybank/view_transactions/">
                <h2>Enter Your Credentials:</h2>
                
                <input type="text" name="user_email" placeholder="Email:" required>
                
                <input type="password" name="password"  placeholder="Password:" required>
                
                {%csrf_token%}
                <input type="submit" class="button" name="submit" value="Login" >
              </form>

            </li>
        </div>
          </ul>
        </div>
       
      </div>
    </div>
  </div>
  {%endblock%}